
    body{
    background-color:  #e7e8e2; 
    font-family: Helvetica;
    text-align: center; 
  }
    
  h1{
    color: #940242;
  }
  h2{
    color: #958f89;
  }
   
  img{
    width: 20%;
    border-radius: 50%;
    border: thick double #958f89;    
  }
  
